<table cellspacing="0" cellpadding="0" border="0" align="center" class="container container-radius body-drip float-center"
    style="display:table;border-collapse:separate;width:100%;max-width:800px;background-color: #f6f6f6;">
        <tbody>
            <tr>
                <td style="font-size: 32px; color:#37474F;">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="deviceWidth" style="text-align: left">
                        <tbody>
                            <tr>
                                <td style="font-size: 32px;text-decoration:none; font-weight:400; color:#181b22; text-transform: capitalize;">
                                    Awesome Server Plans
                                </td>
                            </tr> 
                            <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-weight: 400; text-decoration:none; color:#808080; -webkit-text-size-adjust:none; font-size: 16px; line-height: 30px;"> Our custom-built servers and 24/7 team of experts deliver breakthrough performance that grows with you.
                                </td>
                            </tr>
                            <tr><td height="50"></td></tr>
                        </tbody>   
                    </table>
                    <table align="left" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi">
                        <thead style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-top-right-radius:15px;border-top-left-radius: 15px;">
                            <tr>
                                <td>
                                    <a href="#" target="_blank"><img width="60" src="http://inebur.com/antler/newsletter/img/dedicated.png" alt="PT" border="0" style=" width:60px; display:block; margin-bottom: 20px;"/></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 22px; font-weight:400;color: #ee5586;">Dedicated Server</td>
                            </tr>
                            <tr><td height="1" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 5px;font-weight: 400;hyphens: auto;line-height: 5px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-size:14px;font-weight:400;color:#808080;font-style:italic">annually get (20% discount)</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-size:28px;font-weight:400;color:#181b22;
                                "><span style="font-size:18px;">$</span>82.00 <span style="font-size:18px;">/month</span></td>
                            </tr>
                            <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Sign Up</font></a>
                                </td>
                            </tr>
                        </thead>
                        <tbody style="background-color:#a5215e;display:grid;padding:40px 60px 40px 60px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;margin-bottom:60px">
                            <tr>
                                <td ><img width="38" src="http://inebur.com/antler/newsletter/img/cpu.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#ee5586;">CPU</span><br>4x 3.20Ghz</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td><img width="38" src="http://inebur.com/antler/newsletter/img/ram.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#ee5586;">CPU</span><br>16GB (up 32GB)
                                </td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td><img width="38" src="http://inebur.com/antler/newsletter/img/drivessd.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#ee5586;">DRIVES</span><br>2 x 1TB SATA</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td><img width="38" src="http://inebur.com/antler/newsletter/img/git.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#ee5586;">UPLINK</span><br>Gbps - 20TB</td>
                            </tr>
                        </tbody>
                    </table>

                    <table align="left" width="6%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth">
                        <tbody style="display:inline-table;">
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <table align="right" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi">
                        <thead style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-top-right-radius:15px;border-top-left-radius:15px;">
                            <tr>
                                <td>
                                    <a href="#" target="_blank"><img width="60" src="http://inebur.com/antler/newsletter/img/vps.png" alt="PT" border="0" style=" width:60px; display:block; margin-bottom: 20px;"/></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 22px; font-weight:400;color: #ee5586;">Cloud VPS</td>
                            </tr>
                            <tr><td height="1" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 5px;font-weight: 400;hyphens: auto;line-height: 5px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-size:14px;font-weight:400;color:#808080;font-style:italic">starting at:</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-size:28px;font-weight:400;color:#181b22;
                                "><span style="font-size:18px;">$</span>9.99 <span style="font-size:18px;">/month</span></td>
                            </tr>
                            <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Sign Up</font></a>
                                </td>
                            </tr>
                        </thead>
                        <tbody style="display:grid;padding:40px 60px 40px 60px;border-bottom-right-radius:15px;border-bottom-left-radius:15px;margin-bottom:60px;background-color:#ee5586">
                            <tr>
                                <td class="center"><img width="38" src="http://inebur.com/antler/newsletter/img/cpu.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20" class="center"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#a5215e;">CPU</span><br>2 Cores</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td class="center"><img width="38" src="http://inebur.com/antler/newsletter/img/ram.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20" class="center"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#a5215e;">CPU</span><br>2GB Memory</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td class="center"><img width="38" src="http://inebur.com/antler/newsletter/img/drives.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20" class="center"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#a5215e;">DRIVES</span><br>20GB SSD</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td class="center"><img width="38" src="http://inebur.com/antler/newsletter/img/speed.png" alt="PT" border="0" style=" width:38px; display:block;"></td>
                                <td width="20" class="center"></td>
                                <td style="font-size:16px;color:#ffffff;"> 
                                    <span style="color:#a5215e;">UPLINK</span><br>1TB Bandwidth</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


    <table cellspacing="0" cellpadding="0" border="0" align="center" class="container container-radius body-drip float-center"
        style="display:table;border-collapse:separate;width:100%;max-width:800px;background-color: #f6f6f6;border-top: solid 1px #e3e3e3;">
        <tbody>
            <tr>
                <td style="font-size: 32px; color:#37474F;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth" style="position: relative;">
                        <tbody>
                            <tr style="padding:0;text-align:left;vertical-align:top">
                                <td height="50px"
                                    style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Open Sans,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 32px;text-decoration:none; font-weight:400; color:#181b22; text-transform: capitalize;">
                                    Why Choose Antler?
                                </td>
                            </tr> 
                            <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-weight: 400; text-decoration:none; color:#808080; -webkit-text-size-adjust:none; font-size: 16px; line-height: 30px;"> Our revolutionary Cloud solution is powerful, simple, and surprisingly affordable with full Support 24/7/365.
                                </td>
                            </tr>
                            <tr><td height="50"></td></tr>
                        </tbody>   
                    </table>
                    <table align="left" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi" style="position: relative;">
                        <thead style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-radius: 15px;margin-bottom: 60px;position: relative;">
                            <tr>
                                <td>
                                    <a href="#" target="_blank"><img width="60" src="http://inebur.com/antler/newsletter/img/helpdesk.png" alt="Helpdesk" border="0" style=" width:60px; display:block; margin-bottom: 20px;"/></a>
                                    <span class="center label" style="font-size: 12px;color:#ffffff; margin:0px; text-decoration:none; font-weight:400; right:10px;top:10px; position: absolute; padding: 2px 6px;border-radius: .25rem; background-color: #ee5586; display: inline-table;"> Premium
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; font-weight:600;color:#212122;">Support 24x7x365</td>
                            </tr>
                            <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-size:15px;line-height: 28px;font-weight:400;color:#808080;">Our support staff is available 24/7 to assist you via Phone or Email.</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Read More</font></a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <table align="left" width="6%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth">
                        <tbody style="display:inline-table;">
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="right" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi" style="position: relative;">
                        <thead style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-radius: 15px;margin-bottom: 60px;position: relative;">
                            <tr>
                                <td>
                                    <a href="#" target="_blank"><img width="60" src="http://inebur.com/antler/newsletter/img/cloudmanaged.png" alt="Cloud Managed" border="0" style=" width:60px; display:block; margin-bottom: 20px;"/></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; font-weight:600;color:#212122;">99.9% Uptime</td>
                            </tr>
                            <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td style="font-size:15px;line-height: 28px;font-weight:400;color:#808080;">The availability of your website is our priority. 99.9% Uptime!</td>
                            </tr>
                            <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Read More</font></a>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>



<table cellspacing="0" cellpadding="0" border="0" align="center" class="container container-radius body-drip float-center"
        style="display:table;border-collapse:separate;width:100%;max-width:800px;background-color:#f6f6f6;border-top: solid 1px #e3e3e3;">
    <tbody>
        <tr>
            <td style="font-size: 32px; color:##181b22;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth" style="position: relative;">
                    <tbody>
                        <tr style="padding:0;text-align:left;vertical-align:top">
                            <td height="50px"
                                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Open Sans,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 32px;text-decoration:none; font-weight:400; color:#181b22; text-transform: capitalize;">
                                The Latest News In Our Blog
                            </td>
                        </tr> 
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-weight: 400; text-decoration:none; color:#808080; -webkit-text-size-adjust:none; font-size: 16px; line-height: 30px;"> The latest news and announcements about our cloud services.
                            </td>
                        </tr>
                        <tr><td height="50"></td></tr>
                    </tbody>   
                </table>
                <table align="left" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi">
                    <thead style="display:grid;border-top-right-radius:15px;border-top-left-radius:15px;">
                        <tr>
                            <td>
                                <a href="#" target="_blank"><img src="http://inebur.com/antler/newsletter/img/blog01.jpg" alt="Blog" border="0" style="width: 100%;border-top-left-radius:15px; border-top-right-radius:15px; "/></a>
                            </td>
                        </tr>
                    </thead>
                    <tbody style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-bottom-left-radius:15px; border-bottom-right-radius:15px;margin-bottom:60px">
                        <tr>
                            <td style="font-size:18px;font-weight:600;color:#212122;">Dedicated or VPS Server?</td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size:15px;font-weight:400;color:#808080;line-height:28px;">High performance Dedicated Servers with...</td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                        <tr>
                            <td style="font-size:13px;color:#212122;">
                                April 11, 2018 - 08.00 am
                            </td>
                        </tr>
                        <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Read More</font></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table align="left" width="6%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth">
                    <tbody style="display:inline-table;">
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table align="right" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi">
                    <thead style="display:grid;border-top-right-radius:15px;border-top-left-radius:15px;">
                        <tr>
                            <td>
                                <a href="#" target="_blank"><img src="http://inebur.com/antler/newsletter/img/blog02.jpg" alt="Blog" border="0" style="width: 100%;border-top-left-radius:15px; border-top-right-radius:15px; "/></a>
                            </td>
                        </tr>
                    </thead>
                    <tbody style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-bottom-left-radius:15px; border-bottom-right-radius:15px;margin-bottom:60px">
                        <tr>
                            <td style="font-size:18px;font-weight:600;color:#212122;">All about NGTLD Domains?</td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size:15px;font-weight:400;color:#808080;line-height:28px;">Choose from hundreds of extensions and...</td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size:13px;color:#212122;">
                                August 03, 2018 - 17.35 pm
                            </td>
                        </tr>
                        <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Read More</font></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


<table cellspacing="0" cellpadding="0" border="0" align="center" class="container container-radius body-drip float-center"
        style="display:table;border-collapse:separate;width:100%;max-width:800px;background-color:#f6f6f6;position: relative;border-top: solid 1px #e3e3e3;">
    <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
            <td height="50px"
                style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Open Sans,sans-serif;font-size:32px;font-weight:400;hyphens:auto;line-height:32px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            </td>
        </tr>
        <tr>
            <td style="font-size: 32px; color:#37474F;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth" style="position: relative;">
                    <tbody>
                        <tr>
                            <td style="font-size: 32px;text-decoration:none; font-weight:400; color:#181b22; text-transform: capitalize;">
                                Our Current <strong style="color:#ee5586">Deals*</strong>
                            </td>
                        </tr> 
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-weight: 400; text-decoration:none; color:#808080; -webkit-text-size-adjust:none; font-size: 16px; line-height: 30px;"> Check our amazing deals that give you huge savings across our product range from Domains & SSL Certificates to Cloud Servers & Hosting Plans. Find the deal that's right for you from our selection below or <a href="#" target="_blank" style="color: #ee5586; text-decoration: none;">official page</a>
                            </td>
                        </tr>
                        <tr><td height="50"></td></tr>
                    </tbody>   
                </table>
                <table align="left" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi" style="position: relative">
                    <thead style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-radius: 15px; margin-bottom: 60px;">
                        <tr>
                            <td>
                                <a href="#" target="_blank"><img width="60" src="http://inebur.com/antler/newsletter/img/domains.png" alt="Helpdesk" border="0" style=" width:60px; display:block; margin-bottom: 20px;"/></a>
                                <span class="center label" style="font-size: 12px;color:#ffffff; margin:0px; text-decoration:none; font-weight:400; right:10px;top:10px; position: absolute; padding: 2px 6px;border-radius: .25rem; background-color: #ee5586; display: inline-table;"> 50% off
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 18px; font-weight:600;color:#212122;">.com Domains</td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size: 24px;color:#212122;">
                                <del>$16.00</del><br> now <strong style="color: #ee5586">$8.00/yr</strong>
                            </td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size:15px;line-height: 28px;font-weight:400;color:#808080;">Choose .com extension and put your website in the world.</td>
                        </tr>
                        <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Show Code</font></a>
                            </td>
                        </tr>
                    </thead>
                </table>
                <table align="left" width="6%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth">
                    <tbody style="display:inline-table;">
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table align="right" width="47%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth small-12 paddi">
                    <thead style="background-color:#ffffff;display:grid;padding:40px 60px 40px 60px;border-radius: 15px;position: relative; margin-bottom: 60px;">
                        <tr>
                            <td>
                                <a href="#" target="_blank"><img width="60" src="http://inebur.com/antler/newsletter/img/protection.png" alt="Cloud Managed" border="0" style=" width:60px; display:block; margin-bottom: 20px;"/></a>
                                <span class="center label" style="font-size: 12px;color:#ffffff; margin:0px; text-decoration:none; font-weight:400; right:10px;top:10px; position: absolute; padding: 2px 6px;border-radius: .25rem; background-color: #808080; display: inline-table;"> Best Offer
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 18px; font-weight:600;color:#212122;">DDoS Layer 4</td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size: 24px;color:#212122;">
                                <strong style="color: #ee5586">$11.00/yr</strong><br> save $21.00
                            </td>
                        </tr>
                        <tr><td height="5" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 15px;font-weight: 400;hyphens: auto;line-height: 15px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                            </tr>
                        <tr>
                            <td style="font-size:15px;line-height: 28px;font-weight:400;color:#808080;">Automatic Mitigation for Sophisticated DDoS that quickly defeats attacks.</td>
                        </tr>
                        <tr><td height="15" style="-moz-hyphens: auto;-webkit-hyphens: auto;Margin: 0;border-collapse: collapse!important;color: #0a0a0a;font-family: Roboto,sans-serif;font-size: 25px;font-weight: 400;hyphens: auto;line-height: 25px;margin: 0;mso-line-height-rule: exactly;padding: 0;text-align: left;vertical-align: top;word-wrap: break-word;"></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" target="_blank" bgcolor="#fdd700" style="border-radius:50px;padding:12px 26px;background:#fdd700;color:#000000;font-family:Open Sans,sans-serif;cursor:pointer;font-size:14px;font-weight:600;line-height:29px;display:inline-table;margin:0;text-align:center;text-decoration:none;line-height:28px"><font color="#000000">Show Code</font></a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
    </tbody>
</table>